﻿@model MvcProject.Website.Models.AccountModels.LoginModel

@{
    ViewBag.Title = "Kullanıcı Girişi";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Kullanıcı Girişi</h4>
                <hr />
                @Html.ValidationSummary(true)
                @TempData["EpostaOnayMesaj"]

                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RememberMe, new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RememberMe)
                        @Html.ValidationMessageFor(model => model.RememberMe)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Giriş Yap" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            Hesabınız yoksa lütfen @Html.ActionLink("Kayıt Olunuz", "Register")
        </div>
    </div>
</div>